/* open sans 300, 400, 600, 700 */
/* jlm red: color: #DC2028; */

/* HOME PAGE */

/* navigation */

.logo {
	height: 80px;
  display: block;
  margin: 15px auto;
}
 
.logo-otherpages {
  vertical-align: left;
  height: 80px;
  margin-top: 5px;
}

.nav-link1 {
  float: right;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #0a0a0a;
}

.nav-link2 {
  float: right;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #0a0a0a;
  padding-right: 12px;
}

a:hover.nav-link1 {
  color: #5c1c58;
}

a:hover.nav-link2 {
  color: #5c1c58;
}


/* hero image */

.hero-image {
  height: 450px;
  width: 100%;
  background-image:url("https://raw.githubusercontent.com/JessicaMeyer/jlmfinancial/master/img/skylight.png");
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero-wording {
	margin-top: 35px;
}

.hero-title {
  color: #FFFFFF;
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.hero-text {
  color: #FFFFFF;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

#hero-button1 {
  background-color: #dc2028;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

#hero-button2 {
  background-color: #FFFFFF;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #dc2028;
}

/* about section */

.about-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
  font-size: 18px;
}

/* portfolio section */
/* link list */

.portfolio-section {
	background-color: #f8f8f8;
}

.portfolio-section-title {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #0a0a0a;
  font-size: 24px;
  padding-top: 30px;
}

.link-word {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #dc2028;
  font-size: 17px;
  padding-right: 3px;
  display: inline-block;
  margin: 15px auto;
}

#link-section {
  margin-top: 30px;
  margin-bottom: 30px;
}

a.link-list:hover {
  color: #DC2028;
}

a:hover, a:focus {
  color: #dc2028;
  text-decoration: underline;
}

.dot {
  padding: 5px;
}

/* portfolio section */
/* content list from links in jlm affiliate section */

/*.affiliate-title {
  background-color: white;
  color: #DC2028;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 20px;
}*/

.portfolio-wrapper {
  margin-bottom: 30px;
}

#affiliate-title {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}

.affiliate-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 30px;
  margin-top: 15px;
  color: #0a0a0a;
}

#franchise-affiliate-section {
  margin-top: 30px;
}

#affliate-section {
  margin-bottom: 30px;
}

span {
  font-weight: 600;
} 

.partnerslink {
  font-weight: 600;
  color: #0a0a0a;
}

.jet-picture {
   margin-top: 30px;
}


.senior-picture {
  width: 455px;
  height: 307px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.one83photo {
  width: 700px;
  display: block;
  margin: 15px auto;
}

.realestate {
  display: block;
  margin: 10px auto;
}

.plaza-pictures {
  margin-top: 30px;
}

.re-picture-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #0a0a0a;
  text-align: center;
}

.re-plaza-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #0a0a0a;
  text-align: center;
  margin-top: 10px;
}

.pf-tombstones {
  display: block;
  margin: 15px auto;
}

.pflogo {
  display: block;
  margin: 10px auto;
  height: 120px;
}

#pf-button {
  background-color: #5c1c58;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 15px auto;
  display: block;
}

/* footer */

.footer-section {
  background-color: #f8f8f8;
}

.text-right {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #dc2028;
}

.footer-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #dc2028;
  font-size: 18px;
}

.footer-text-left {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #dc2028;
  line-height: 8px;
  font-size: 17px;
}


.left-footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.right-footer {
  margin-top: 20px;
  margin-bottom: 30px;
}

a.mailto {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #dc2028;
}

.map {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80%;
}

/* copyright */

.copyright-text-left {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #0a0a0a;
  margin: auto;
}


#copyright-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #0a0a0a;
}

#copyright-section {
  margin-top: 12px;
}


/* ACQUISITIONS PAGE */
/* acquisition section */

#acquisition-title {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}

.tombstone {
  display: block;
  margin: 15px auto;
}


/* jlm entities section for all menu pages */

#menu-button-group {
  /*margin-left: 60px;*/
  display: inline-block;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
}

#highlight-button {
  background-color: #dc2028;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.jlm-entities {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #dc2028;
  margin-top: 40px;
}

/* TEAM PAGE */ 

#team-title {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}

.name_title {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #dc2028;
}

.bio {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #0a0a0a;
  line-height: 30px;
}

.email_icon {
  padding-left: 5px;
  height: 20px;
}

.trey-jlm {
  color: #dc2028;
  text-decoration: underline;
}


